.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 30px 24px;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
}

.logo {
  color: #000000;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
}
.logo:hover {
  opacity: 0.6;
}

.menuBtn {
  cursor: pointer;
}

.menuBtn:hover {
  opacity: 0.6;
}
