.main_content {
  background: #fff;
  margin-right: 20px;
  border-radius: 8px;
  width: 100vw;
  height: auto;
  min-width: calc(65% - 20px);
  min-height: 90vh;
  transition: min-width 0.5s ease;
}

.close_info {
  min-width: 100%;
}

.page {
  border: 1px solid #e4e4e4;
}

.main_content .main_head_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 12px 24px 24px;
  border-bottom: 1px solid #e4e4e4;
}

.main_head_wrap .main_head {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.main_head .main_title {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.5px;
  font-weight: 700;
  white-space: nowrap;
}

.main_head .main_badge_wrap {
  margin-left: 8px;
  padding-bottom: 4px;
  white-space: nowrap;
}

.main_head .main_badge_wrap label {
  display: inline-block;
  margin-right: 4px;
}

.main_head_wrap .main_info_icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.main_head_wrap .main_info_icon:hover {
  opacity: 0.6;
}

.main_content .main_video {
  margin-bottom: 20px;
}

.main_content .main_image_wrap {
  padding: 0;
  margin: 0;
}

.main_content .main_image {
  list-style-type: none;
  padding: 0 0 20px;
  margin: 0;
}

.main_content .main_image:last-child {
  padding: 0;
}

.cursor_tooltip {
  position: absolute;
  width: fit-content;
  height: auto;
  background: linear-gradient(
      90deg,
      rgb(81, 119, 254) -9.37%,
      rgba(137, 152, 255, 0) 113.12%
    ),
    rgb(255, 116, 181);
  color: #ffffff;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 10px 0 0 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.25px;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .main_content {
    border-radius: 0;
    margin-right: 24px;
  }

  .close_info {
    min-width: inherit;
  }

  .main_content .main_head_wrap {
    padding: 24px 0 60px;
  }

  .main_head_wrap .main_head {
    flex-direction: column;
    align-items: flex-start;
  }

  .main_head .main_title {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 26px;
  }

  .main_head .main_badge_wrap {
    margin-left: 0;
  }
}
