.footer_wrap {
  padding: 24px;
  background: #000;
  color: #ffffff;
}

.footer_title {
  position: relative;
  z-index: 2;
  padding-bottom: 4px;
}

.footer_desc {
  position: relative;
  z-index: 2;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.43;
  color: #fff;
  opacity: 0.5;
}
