.footer_wrap {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: calc(100% - 48px);
  padding: 12px 24px;
  background: #000;
  color: #ffffff;
}

.main {
  position: static;
}

.footer_title {
  position: relative;
  margin-right: 4px;
  z-index: 2;
  font-size: 14px;
  line-height: 13px;
  padding-bottom: 4px;
  letter-spacing: 1.75px;
}

.footer_desc {
  position: relative;
  z-index: 2;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.43;
  color: #fff;
  opacity: 0.5;
}

@media (max-width: 600px) {
  .footer_wrap {
    width: calc(100% - 32px);
    padding: 12px 16px;
  }

  .detail {
    width: 100%;
  }

  .footer_title {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.75px;
    padding-bottom: 0;
  }

  .footer_desc {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }
}
