.list_wrap {
  max-width: 1600px;
  margin: 0 auto;
  padding: 35px 48px 80px;
}

.h1 {
  font-size: 2.55rem;
  font-weight: 700;
  letter-spacing: -2.5px;
}

@media (max-width: 1024px) {
  .list {
    padding: 0 24px;
  }

  .h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .list {
    padding: 0 16px;
  }

  .h1 {
    font-size: 2rem;
  }
}
