.list_card {
  font-size: 14px;
  list-style-type: none;
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.list_link {
  /* position: relative; */
  text-decoration: underline;
}

.list_card_img {
  position: unset !important;
}
