.list_card {
  font-size: 14px;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.list_link {
  text-decoration: underline;
}

.list_card_img {
  position: unset !important;
  max-width: 500px;
  max-height: 400px;
}
