.modal_content_wrap {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .modal_content_wrap {
    position: relative;
    padding: 0 0 80px 24px;
    background: #ffffff;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .modal_content_wrap {
    padding: 0 0 80px 16px;
  }
}
