.modal_content_wrap {
  display: flex;
  flex-direction: row;
}

.modal_header {
  display: none;
}

@media (max-width: 1024px) {
  .modal_content_wrap {
    padding: 35px 80px;
    background: #ffffff;
  }

  .modal_header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
